.hero-section {
  margin-left: auto;
  margin-right: auto;
  min-width: 480px;
}

.hero-container {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../photo/img_tel/Header.jpg);
  background-color: $dark-background-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../photo/img_tel/Header_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(
        to bottom rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../photo/img_tab/Header.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../photo/img_tab/Header_2x.jpg);
    }
  }
}

@media screen and (min-width: 1170px) {
  .hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../photo/hero-overlay-after.jpg);
  }
}

.hero-button {
  padding: 10px 32px;
  margin-top: 30px;

  min-width: 200px;
  height: 50px;

  border-style: none;
  outline: none;

  font-family: $sec-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  color: $text-hero;
  background-color: $accent-color;

  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 1px;
}

.hero-text {
  color: $text-hero;
  font-family: $sec-font-family;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  /* or 162% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1170px) {
    font-size: 44px;
    font-style: normal;
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.hero-text-container {
  width: 360px;
  margin: 0 auto;
  @media screen and (min-width: 1170px) {
    width: 696px;
    margin: 0 auto;
  }
}
